*.o
*.a
*~
*.so
.envrc
.direnv
utils
lib
img
examples-api-use
include
adapter
.editorconfig
COPYING
hatch.toml
pyproject.toml
README.md
shell.nix
wiring.md
build-rpi-rgb-led-matrix.py
/Makefile
bindings/c#/